<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Trial.scenarios.PuneToKolkata.bdd</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:17:27</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:17:27</td>   <td>16</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:17:27</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:17:27</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="f978b0">  <td>18/02/13 15:17:27</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.PuneToKolkata.bdd.PuneToKolkata()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">PuneToKolkata</td> 
  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:03</td>   <td>36495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:03</td>   <td>36495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="f978b0">  <td>18/02/13 15:18:03</td>   <td>36495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.PuneToKolkata.bdd.PuneToKolkata()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">PuneToKolkata</td> 
  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:24</td>   <td>57229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:24</td>   <td>57229</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:24</td>   <td>57229</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:24</td>   <td>57229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="f978b0">  <td>18/02/13 15:18:24</td>   <td>57229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.PuneToKolkata.bdd.MumbaiToPune()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">MumbaiToPune</td> 
  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:41</td>   <td>74323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:41</td>   <td>74324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:41</td>   <td>74325</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
<tr bgcolor="94c28c">  <td>18/02/13 15:18:41</td>   <td>74509</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@416153648</td>   <td>1000 1001 </td> </tr>
</table>
