<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SMOKE</td><td>scenarios.PuneToKolkata.bdd.MumbaiToPune()[pri:1001, instance:com.qmetry.qaf.automation.step.client.Scenario@3e9]<br/>scenarios.PuneToKolkata.bdd.PuneToKolkata()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]<br/>PuneToKolkata.scene()[pri:0, instance:com.orbitz.tests.PuneToKolkata@3bd94634]<br/>ReturnFlightTest.testReturnFlight(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:dataTest.ReturnFlightTest@747f281]<br/></td></tr>
</table>
