<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SMOKE</td><td>ReturnFlightTest.testReturnFlight(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:dataTest.ReturnFlightTest@24c1b2d2]<br/></td></tr>
</table>
