<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>i open orbitz homepage</div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on flights tab</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'tab.flights.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter origin code 'PNQ' for 'Pune'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightOrigin.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'PNQ' into 'tb.flightOrigin.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter destination code 'CCU' for 'Kolkata'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'CCU' into 'tb.flightDestination.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter departing date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDepartDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/14/2018' into 'tb.flightDepartDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter returning date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightReturnDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/15/2018' into 'tb.flightReturnDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on search button</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'btn.search.homepage'</div></div><div  class="pass"><span class="pass-label">P </span>
Expected: a string containing "Flights | Orbitz"
     Actual: was "PNQ to CCU Flights | Orbitz" <a href="../img/testReturnFlight_1qazassjnr2no46589.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>title matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - CCU"
     Actual: was "PNQ - CCU" <a href="../img/testReturnFlight_bqpxajdh7o6546590.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - CCU"
     Actual: was "PNQ - CCU" <a href="../img/testReturnFlight_1xa21h3sgdys046591.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - CCU"
     Actual: was "PNQ - CCU" <a href="../img/testReturnFlight_1ojnmj4zymyap46592.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - CCU"
     Actual: was "PNQ - CCU" <a href="../img/testReturnFlight_1ceuzmj8c9doz46593.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - CCU"
     Actual: was "PNQ - CCU" <a href="../img/testReturnFlight_1i495is39mk5u46594.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - CCU"
     Actual: was "PNQ - CCU" <a href="../img/testReturnFlight_1l0ik4y10uglq46595.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - CCU"
     Actual: was "PNQ - CCU" <a href="../img/testReturnFlight_1v51hlzcdqdeb46596.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>i open orbitz homepage</div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on flights tab</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'tab.flights.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter origin code 'CCU' for 'Kolkata'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightOrigin.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'CCU' into 'tb.flightOrigin.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter destination code 'PNQ' for 'Pune'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'PNQ' into 'tb.flightDestination.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter departing date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDepartDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/14/2018' into 'tb.flightDepartDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter returning date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightReturnDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/15/2018' into 'tb.flightReturnDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on search button</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'btn.search.homepage'</div></div><div  class="pass"><span class="pass-label">P </span>
Expected: a string containing "Flights | Orbitz"
     Actual: was "CCU to PNQ Flights | Orbitz" <a href="../img/testReturnFlight_znaqguk1gvsn46597.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>title matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "CCU - PNQ"
     Actual: was "CCU - PNQ" <a href="../img/testReturnFlight_1oczqq1nw3zbt46598.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "CCU - PNQ"
     Actual: was "CCU - PNQ" <a href="../img/testReturnFlight_xx5zeesp5sy346599.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "CCU - PNQ"
     Actual: was "CCU - PNQ" <a href="../img/testReturnFlight_159m5u4seev5s46600.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "CCU - PNQ"
     Actual: was "CCU - PNQ" <a href="../img/testReturnFlight_1nxwka8cq1pi846601.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "CCU - PNQ"
     Actual: was "CCU - PNQ" <a href="../img/testReturnFlight_1nyyywaxpdiuf46602.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "CCU - PNQ"
     Actual: was "CCU - PNQ" <a href="../img/testReturnFlight_1kuhns224xgux46603.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "CCU - PNQ"
     Actual: was "CCU - PNQ" <a href="../img/testReturnFlight_1bcyy5njj4s5446604.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>i open orbitz homepage</div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on flights tab</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'tab.flights.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter origin code 'BOM' for 'Mumbai'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightOrigin.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'BOM' into 'tb.flightOrigin.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter destination code 'PNQ' for 'Pune'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'PNQ' into 'tb.flightDestination.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter departing date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDepartDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/14/2018' into 'tb.flightDepartDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter returning date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightReturnDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/15/2018' into 'tb.flightReturnDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on search button</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'btn.search.homepage'</div></div><div  class="pass"><span class="pass-label">P </span>
Expected: a string containing "Flights | Orbitz"
     Actual: was "BOM to PNQ Flights | Orbitz" <a href="../img/testReturnFlight_ietfp27suz3646605.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>title matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "BOM - PNQ"
     Actual: was "BOM - PNQ" <a href="../img/testReturnFlight_1nqk9rcv2bmvr46606.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "BOM - PNQ"
     Actual: was "BOM - PNQ" <a href="../img/testReturnFlight_1kbiyr34r3tph46607.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "BOM - PNQ"
     Actual: was "BOM - PNQ" <a href="../img/testReturnFlight_125tglrnx6su946608.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "BOM - PNQ"
     Actual: was "BOM - PNQ" <a href="../img/testReturnFlight_6whrw1umbiyd46609.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "BOM - PNQ"
     Actual: was "BOM - PNQ" <a href="../img/testReturnFlight_1s2pfrypsoylv46610.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "BOM - PNQ"
     Actual: was "BOM - PNQ" <a href="../img/testReturnFlight_17xj5qdsl8qyf46611.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "BOM - PNQ"
     Actual: was "BOM - PNQ" <a href="../img/testReturnFlight_otdqyea000h546612.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div></div></td></tr>
<tr><td><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>i open orbitz homepage</div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on flights tab</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'tab.flights.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter origin code 'PNQ' for 'Pune'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightOrigin.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'PNQ' into 'tb.flightOrigin.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter destination code 'BOM' for 'Mumbai'</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDestination.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys 'BOM' into 'tb.flightDestination.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter departing date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightDepartDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/14/2018' into 'tb.flightDepartDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i enter returning date</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>clear 'tb.flightReturnDate.homepage'</div><div  class="teststeppass"><span class="teststeppass-label">T </span>sendKeys '02/15/2018' into 'tb.flightReturnDate.homepage'</div></div><div  class="teststeppass"><span class="teststeppass-label">T </span>i click on search button</div><div style="display:block;margin-left:10px;"><div  class="teststeppass"><span class="teststeppass-label">T </span>click on 'btn.search.homepage'</div></div><div  class="pass"><span class="pass-label">P </span>
Expected: a string containing "Flights | Orbitz"
     Actual: was "PNQ to BOM Flights | Orbitz" <a href="../img/testReturnFlight_ac7od3il2ts046613.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>title matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - BOM"
     Actual: was "PNQ - BOM" <a href="../img/testReturnFlight_kutr1hvihzpk46614.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - BOM"
     Actual: was "PNQ - BOM" <a href="../img/testReturnFlight_p3fp0nyy74n246615.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - BOM"
     Actual: was "PNQ - BOM" <a href="../img/testReturnFlight_9tmb52fgh02r46616.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - BOM"
     Actual: was "PNQ - BOM" <a href="../img/testReturnFlight_1fmjbxtfd6d5j46617.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - BOM"
     Actual: was "PNQ - BOM" <a href="../img/testReturnFlight_1fgh2ig3r1xyh46618.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - BOM"
     Actual: was "PNQ - BOM" <a href="../img/testReturnFlight_y8nlkpg3340d46619.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div><div  class="pass"><span class="pass-label">P </span>
Expected: is "PNQ - BOM"
     Actual: was "PNQ - BOM" <a href="../img/testReturnFlight_vz8at1tx88oj46620.png" target="_blank">[View Screenshot]</a> </div><div  class="info"><span class="info-label">I </span>airport matches</div></div></td></tr>
</table>